<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<title>计划管理</title>
	
	<head th:replace="fragments/header :: header"></head>
	
	<body>
	
	<div id="wrapper">

		<div th:replace="fragments/sidebar :: sidebar"></div>
		
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">处理流程任务</h1>
                        
                        <table id="employeeLeaves"></table>
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
	</div>
    <!-- /#wrapper -->
    
    
	<div th:replace="fragments/footer :: footer"></div>
	
	<script type="text/javascript">
		$('#employeeLeaves').bootstrapTable({
			url: '/json/get-all-tasks',
			pagination: true,
			pageSize: 10,
			pageList: [10, 25, 50, 100],
			sortName: 'createTime',
			sortOrder: 'desc',
			columns: [{
				field: 'processVariables.leaveId',
				title: '流程编号',
				sortable: true
			},{
				field: 'createTime',
				title: '发起日期',
				sortable: true,
				formatter: function(value, row, index) {
					return value == undefined ? '-' : moment(value).format("MM/DD/YYYY");  
				}
			}, {
				field: 'processVariables.employeeUsername',
				title: "发起人",
				sortable: true
			}, {
				field: 'processVariables.startDate',
				title: '工期开始日期',
				sortable: true,
				formatter: function(value, row, index) {
					return value == undefined ? '-' : moment(value).format("MM/DD/YYYY");  
				}
			}, {
				field: 'processVariables.endDate',
				title: '工期结束日期',
				sortable: true,
				formatter: function(value, row, index) {
					return value == undefined ? '-' : moment(value).format("MM/DD/YYYY");
				}
			}, {
				field: 'operate',
				title: '操作',
				formatter: function(value, row, index) {
					return '<a href="/review/' + row.id + '">查看详情</a>';
				}
			}]
		});
		
	</script>
	</body>

</html>